.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 300px;
  margin: auto;
  grid-gap: 15px;
  margin-top: 20px;
}


.title {
  text-align: center;
  border-bottom: 1px solid rgb(54, 54, 54);
  padding-bottom: 10px;
  width: 300px;
  margin: auto;
  margin-top: 30px;
}

.container div {
  width: 140px;
  background-color: rgb(86, 137, 196);
  border-radius: 10px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.container svg {
  display: block;
  margin: auto;
  fill: aliceblue;
}

.container p {
  text-align: center;
}